<!DOCTYPE html>
<html>

<head>
    <title>Services Integration</title>
    <%- include ../shared/headerInclude.ejs %>
</head>

<body class="left-side-collapsed">
    <%- include ../shared/header.ejs %>

        <article>
            <section>
                <ul>
                    <li>
                        <a href='/integration/solution/new'>Create integration solution</a>
                    </li>
                    <li>
                        <a href='/integration/solution'>Integration solution library</a>
                    </li>
                    <li>
                        <a href='/integration/task'>Integration task list</a>
                    </li>
                    <li>
                        <a href='/visualizations'>Visualization library list</a>
                    </li>
                </ul>
            </section>
        </article>
        <%- include ../shared/footer.ejs %>
</body>
<%- include ../shared/footerInclude.ejs %>

</html>