.main-content {
    background: #ffffff;
}

.wrapper {
    height: 100%;
    margin: 0 auto;
}

.left-side {
    display: none;
}

.main-content {
    margin-bottom: 0 !important;
    height: 100%;
    background: #FFF !important;
    margin-left: 0 !important;
}

.header-section {
    display: none;
}

.sticky-footer {
    display: none;
}

.dataList {
    margin: auto 20px;
}