.tab-cell{
    border-radius: 3px;
}
.webix_item_tab{
    min-width:100px !important;
}
.webix_all_tabs{
    height: 28px !important;
}
.webix_tab_more_icon{
    display: none;
}
.webix_view .webix_header{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}