<!-- region ContextMenu -->
<ul class="list-group contextMenu" id="eventContextMenu">
    <li id="show-data-menu" class="list-group-item configure-mode-menu task-menu"><a>data detail</a></li>
    <li id="remove-data-menu" class="list-group-item configure-mode-menu task-menu"><a>remove data</a></li>
    <li id="configure-data-menu" class="list-group-item configure-mode-menu task-menu"><a>configure data on line</a></li>
</ul>

<ul class="list-group contextMenu" id="stateContextMenu">
    <li id="del-ms-menu" class="list-group-item edit-mode-menu solution-menu"><a>delete model service</a></li>
    <li id="toggle-direction-ms-menu" class="list-group-item edit-mode-menu solution-menu"><a>toggle convert direction</a></li>
    <li id="addbreak-ms-menu" class="list-group-item configure-mode-menu task-menu"><a>add break point here</a></li>
    <li id="removebreak-ms-menu" class="list-group-item configure-mode-menu task-menu"><a>remove this break point</a></li>
    <!--<li id="check-ms-menu" class="list-group-item"><a>check configuration</a></li>-->
</ul>